<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  
    <!-- Navbar brand -->


    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/faktury" routerLinkActive="active">Faktury</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/liczniki" routerLinkActive="active">Liczniki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/odczyty" routerLinkActive="active">Odczyty licznika</a>
        </li>
 
        <li class="nav-item">
          <a class="nav-link" routerLink="/zgloszenie" routerLinkActive="active">Zgłoszenia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statystyki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Umowy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pomoc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/komunikaty" routerLinkActive="active">Komunikaty</a>
        </li>
      </ul>

      <!-- Left links -->
      <a type="button" class=" notification btn btn-link px-7 me-7" routerLink="/powiadomienia" routerLinkActive="active">
        <i class="bi bi-bell-fill fa-3x" alt="powiadomienia"></i>
        <div class="button__badge">
          <span class="badge bg-danger ">{{badge}}</span>
        </div>
      </a>

      <button type="button" class="btn btn-link px-3 me-2">
        Licznik nr: 000074321 Rynek Bednarski 1
      </button> 
        <button type="button" (click)=out() class="btn btn-primary me-3">
          Wyloguj
        </button>
        <button type="button" class="btn btn-link px-7 me-7"><i class="fas fa-universal-access fa-3x" alt="ułatwianie dostępu"></i></button>
  
    </div>
    <!-- Collapsible wrapper -->
  
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->