<div class="col-12">
    <app-navibar></app-navibar>
  </div>

<div class="container ">
    <div *ngFor="let notification of notifications">
        <div class="card border-success" id={{notification.ID}}>
            <div class="card-header bg-light border-success">
                <div class="form-check-inline">
                    <h5  class="h5">{{notification.Title}}</h5>
                </div>
            </div>   
            <div class="card-body ">
            <h5 class="card-title"></h5>
            <div><b>Miejsce: </b>{{notification.City}}</div>
            <div><b>Data: </b>{{notification.Data}}</div>
            <div><b>Szczegóły:</b></div>  
            <p class="card-text">{{notification.Details}}</p>
            <a href="#!" class="btn btn-primary" style="margin-left: 80%;">Go somewhere</a>
            </div>
            <div class="card-footer bg-light border-success">
                <div class="form-check-inline">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                        <label class="form-check-label" for="checkbox1">
                        Odznacz jako przeczytana
                        </label>
                    </div>
                </div>
            </div>
        </div>
                <br>
    </div>
</div>




