
<div class="row">
    <div class=col-7>
      <button type="button"  class="btn m-1 btn-primary">
        Wiadomości <span class="badge badge-light bg-warning ">4</span>
      </button>
      <button type="button" class="btn m-1 btn-warning">
        Wiadomości <span class="badge badge-dark bg-white text-dark">4</span>
      </button>
      <button type="button"  class="btn m-1 btn-dark">
        Wiadomości <span id ="span3" class="badge badge-light bg-danger">4</span>
      </button>
    </div>
    <div class="col-4">
      <label >Nieprzeczytanych wiadomości</label>
      <input id="input" type="text" onchange="">
    </div>    
  </div>