<div style=" position: absolute; margin: auto; top: -180px; right: 0; bottom: 0; left: 0; width: 400px; height: 400px;">

  <H1 class="text-center">e-bok</H1>
  </div>
  <div style="position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 400px; height: 400px;">
<form [formGroup]="form">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" name="email" formControlName="email" id="form2Example1" class="form-control" style="border: 1px solid rgb(18, 102, 241);">
      <label class="form-label" style="background-color: white;" for="form2Example1">Adres Email</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password"  name="password" formControlName="password" id="form2Example2" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
      <label class="form-label" style="background-color: white;" for="form2Example2">Hasło</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
          <label class="form-check-label" for="form2Example34"> Zapamiętaj mnie </label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Zapomniałeś hasła?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="button" (click)=in() class="btn btn-primary btn-block mb-4">Zaloguj się</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Nie jesteś zarejestrowany? <a href="#!">Zarejestruj się</a></p>
      <p>lub zarejestruj się za pomocą:</p>
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
  </div>


