
  <div class="col-12">
    <app-navibar></app-navibar>
  </div>
  <div class="container">
<div class="form-group">
    <label for="exampleFormControlSelect1">Temat zgłoszenia</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Przyłącze do  sieci</option>
      <option>Licznik ogorodwy</option>
      <option>Zgłoszenie awarii</option>
      <option>Reklamacja</option>
      <option>Wymiana licznika</option>
      <option>Wniosek o określenie warunków technicznych przyłączenia do sieci wodociągowej i kanalizacji sanitarnej</option>
      <option>Wniosek o zawarcie umowy o dostawę wody i odprowadzanie ścieków do kanalizacji sanitarnej (dodatkowo podlicznik ogrodowy)</option>
      <option>Zgłoszenie przez użytkownika zaistniałego zdarzenia np. awarii, montażu wodomierza, rejestracji, wymiany podlicznika</option>
      <option>Konsultacje z użytkownikami</option>
      <option>Wniosek o rozłożenie należności na raty</option>
      <option>Wniosek o umorzenie należności</option>
    </select>
  </div>
  </div>

  <!--footer-->
  <div class="row gx-1 ">
    
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>