<div style=" position: absolute; margin: auto; top: -260px; right: 0; bottom: 0; left: 0; width: 400px; height: 400px;">
      <form  [formGroup]="myFormModel" (ngSubmit)="onSubmit()" >
        <div class="text-center mb-3">
          <h3>Zarejestruj się:</h3>

        </div>
  
        <!-- Name input -->
        <div class="form-outline mb-4">
          <label class="form-label">Imię</label>
          <input type="text" formControlName="FirstName" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
        </div>
        <!-- Surname input -->
        <div class="form-outline mb-4">
          <label class="form-label">Nazwisko</label>
          <input type="text" formControlName="userSurname" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
        </div>
  
        <!-- Username input -->
        <div class="form-outline mb-4">
        <label class="form-label">Username</label>
          <input type="text" formControlName="registerUsername" class="form-control" style="border: 1px solid rgb(18, 102, 241);"/>
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label">Email</label>
          <input type="email" formControlName="registerEmail" class="form-control" style="border: 1px solid rgb(18, 102, 241);"/>
        </div>
  
        <!-- Password input -->
        <div formGroupName="passwordsGroup">
          <div class="form-outline mb-4">
            <label class="form-label">Password</label>
            <input type="password" formControlName="registerPassword" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
            <span class="error" [hidden]="!myFormModel.hasError('minlength',['passwordsGroup', 'password'])">Hasło jest za krótkie</span>
          </div>
          <!-- Repeat Password input -->
          <div class="form-outline mb-4">
            <label class="form-label">Repeat password</label>
            <input type="password" formControlName="registerRepeatPassword" class="form-control" style="border: 1px solid rgb(18, 102, 241);"/>
          </div>
        </div>
        <div class="text-center mb-3">
            <p>lub zarejestruj się za pomocą:</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
            aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            Preczytałem i kaceptuję warunki
          </label>
        </div>
        
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
      </form>