<div style=" position: absolute; margin: auto; top: -300px; right: 0; bottom: 0; left: 0; width: 400px; height: 400px;">
      <form  [formGroup]="myFormModel" (ngSubmit)="onSubmit()" >
        <div class="text-center mb-3">
          <h3>Zarejestruj się:</h3>
        </div>
  
        <!-- Name input -->
        <div class="form-outline mb-4">
          <label class="form-label">Imię</label>
          <input type="text" formControlName="FirstName" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
          <p  class="text-danger" *ngIf="!myFormModel.valid">Pole obowiązkowe</p>
        </div>
        <!-- Surname input -->
        <div class="form-outline mb-4">
          <label class="form-label">Nazwisko</label>
          <input type="text" formControlName="userSurname" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
          <p  class="text-danger" *ngIf="!myFormModel.valid">Pole obowiązkowe</p>
        </div>
  
        <!-- Username input -->
        <div class="form-outline mb-4">
        <label class="form-label">Username</label> 
          <input type="text" formControlName="registerUsername" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />
          <p  class="text-danger" *ngIf="!myFormModel.valid ">Pole obowiązkowe. Minimum 5 znaków</p>
          <!-- <p  class="text-danger" *ngIf="myFormModel.controls['registerUsername'].invalid ">Pole obowiązkowe. Minimum 5 znaków</p> -->

        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" >Email</label>
          <input type="email" formControlName="registerEmail" class="form-control" style="border: 1px solid rgb(18, 102, 241);"/>
          <p  class="text-danger" *ngIf="!myFormModel.valid">Pole obowiązkowe. user@domain </p>
        </div>
  
        <!-- Password input -->
        <div formGroupName="passwordsGroup">
          <div class="form-outline mb-4">
            <label class="form-label">Password</label>
            <input id="registerPassword" type="password" formControlName="registerPassword" class="form-control" style="border: 1px solid rgb(18, 102, 241);" />

          </div>
          <!-- Repeat Password input -->
          <div class="form-outline mb-4">
            <label class="form-label">Repeat password</label>
            <input type="password" formControlName="registerRepeatPassword" class="form-control" style="border: 1px solid rgb(18, 102, 241);"/>
          </div>
        </div>
        <div class="text-center mb-3">
            <p>lub zarejestruj się za pomocą:</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
            aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            Preczytałem i kaceptuję warunki
          </label>
        </div>
        
  
        <!-- Submit button -->
        <input [disabled]="!myFormModel.valid" type="submit" value="Zarejestruj się" class="btn btn-primary btn-block mb-3">
        <!-- <button [disabled]="!myFormModel.valid" type="submit" class="btn btn-primary btn-block mb-3">Zarejestruj się</button> -->
      </form>